---
import Div from './_div.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
	<Div>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</Div>
</head>
<body>
	
</body>
</html>